<!-- <div class="login-container">
  <h1>Login</h1>
  <div class="form-container">
    <form (ngSubmit)="login()">
      <app-custom-input
        label="Username"
        placeholder="Enter your username"
        [(ngModel)]="username"
        name="username"
        [control]="usernameControl"
        [options]="[]">
      </app-custom-input>

      <app-custom-input
        label="Password"
        placeholder="Enter your password"
        [(ngModel)]="password"
        name="password"
        [control]="passwordControl"
        [options]="[]">
      </app-custom-input>

       
      
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div> -->

<div class="login-container">
  <h1>Login</h1>
  <div class="form-wrapper">
    <form (ngSubmit)="login()">
      <div class="form-container">
        <app-custom-input
          label="Username"
          placeholder="Enter your username"
          [(ngModel)]="username"
          name="username"
          [control]="usernameControl"
          [options]="[]">
        </app-custom-input>

        <app-custom-input
          label="Password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          name="password"
          [control]="passwordControl"
          [options]="[]">
        </app-custom-input>
      </div>
      
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
